<div style="margin-bottom: 10px; margin-top: -20px;" id="div-principal-header" class="mat-elevation-z2">
    <mat-toolbar>
        <mat-toolbar-row>
            <!--<button mat-icon-button (click)="toggleSideBar()">
                <mat-icon>menu</mat-icon>
            </button>-->
            <div class="header-cabecalho">
                <div style="width: 50%">
                    <span> {{menuSelected}} </span>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: flex-end; width: 50%;">
                    <ul style="display: flex; flex-direction: row;">
                        <li>
                            <button mat-icon-button>
                                <mat-icon>notifications</mat-icon>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
