@import '../../../../styles';

:host {
    .div-table .mat-table {
        width: 100%;
    }

    .div-table .mat-form-field {
        width: 400px;
    }

    .td-tempo {
        color: #1FA8E4;
    }

    table th {
        font-weight: bold;
        font-size: 16px;
    }

    ::ng-deep.mat-tab-label .mat-tab-label-content {
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 2px;
    }

    ::ng-deep .mat-tab-label-active {
        background-color: #056691;
        border-radius: 10px 10px 0px 0px;
        color: #FFFFFF;
    }
}
