<div class="div-content">
    <app-header menuSelected="{{menuTexto}}"></app-header>

    <form [formGroup]="formulario" #formDir="ngForm">
        <div  class="card-principal">
            <div style="display: flex; flex-direction: row; width: 100%; height: 100%;">
                <div class="div-divider-right" style="width: 30%;">
                    <div style="display: flex; flex-direction: row;">
                        <div class="div-step-icon">
                            <div class="div-step-icon-content">
                                <span aria-hidden="true">1</span>
                            </div>
                        </div>
                        <div class="div-informacoes" (click)="linkCadastro('cadastro-usuario')">Dados do usuário</div>
                    </div>
                    <div class="div-mat-stepper-vertical-line">
                        <div style="border-left: 3px solid #B4BABD;"></div>
                    </div>
                    <div style="display: flex; flex-direction: row;">
                        <div class="div-step-icon-default">
                            <div class="div-step-icon-content">
                                <span aria-hidden="true">2</span>
                            </div>
                        </div>
                        <div class="div-informacoes-default" (click)="linkCadastro('dados-acesso')">Dados de acesso</div>
                    </div>
                    <div class="div-mat-stepper-vertical-line">
                        <div style="border-left: 3px solid #B4BABD;"></div>
                    </div>
                    <div style="display: flex; flex-direction: row;">
                        <div class="div-step-icon-default">
                            <div class="div-step-icon-content">
                                <span aria-hidden="true">3</span>
                            </div>
                        </div>
                        <div class="div-informacoes-default" (click)="linkCadastro('senha-acesso')">Senha de acesso</div>
                    </div>
                </div>
                <div class="form-content">
                    <div class="div-cabecalho-cadastro">
                        <div style="display: flex; flex-direction: row">
                            <div class="titulo-menu" style="width: 70% !important;">Dados do usuário</div>
                            <div class="titulo-menu campo-check-status">
                                <mat-slide-toggle color="primary" (change)="onChangeToggle($event)" *ngIf="isChecked" checked>{{tx_ativo}}</mat-slide-toggle>
                                <mat-slide-toggle color="primary" (change)="onChangeToggle($event)" *ngIf="!isChecked">{{tx_ativo}}</mat-slide-toggle>
                            </div>
                        </div>
                        <div>
                            <p><mat-label>CPF</mat-label></p>
                            <mat-form-field class="input-full-width" appearance="fill">
                                <input matInput placeholder="Digite o CPF" mask="000.000.000-00" maxlength="14" [(ngModel)]="model.nu_cpf" class="form-control" value="" required formControlName="nu_cpf" name="nu_cpf">
                            </mat-form-field>
                            <div *ngIf="nu_cpf.invalid && formDir.submitted" class="validation-error">
                                <p *ngIf="nu_cpf.hasError('required')">O CPF é <strong>obrigatório</strong></p>
                            </div>

                            <p><mat-label>Nome</mat-label></p>
                            <mat-form-field class="input-full-width" appearance="fill">
                                <input matInput placeholder="Escreva o nome do menu" [(ngModel)]="model.tx_nome" class="form-control" value="" required formControlName="tx_nome" name="tx_nome">
                            </mat-form-field>
                            <div *ngIf="tx_nome.invalid && formDir.submitted" class="validation-error">
                                <p *ngIf="tx_nome.hasError('required')">O nome é <strong>obrigatório</strong></p>
                            </div>

                            <!--<p><mat-label>Senha</mat-label></p>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput placeholder="Escreva a ordem" [(ngModel)]="model.tx_senha" class="form-control" value="" required formControlName="tx_senha" name="tx_senha">
                            </mat-form-field>
                            <div *ngIf="tx_senha.invalid && formDir.submitted" class="validation-error">
                                <p *ngIf="tx_senha.hasError('required')">A senha é <strong>obrigatório</strong></p>
                            </div>-->

                            <p><mat-label>E-mail</mat-label></p>
                            <mat-form-field class="input-full-width" appearance="fill">
                                <input matInput placeholder="Escreva o icone do módulo" [(ngModel)]="model.tx_email" class="form-control" value="" formControlName="tx_email" name="tx_email">
                            </mat-form-field>
                            <div *ngIf="tx_email.invalid && formDir.submitted" class="validation-error">
                                <p *ngIf="tx_email.hasError('required')">O e-mail é <strong>obrigatório</strong></p>
                                <p *ngIf="tx_email.hasError('email')">O e-mail é <strong>inválido</strong></p>
                            </div>

                        </div>

                        <div style="padding-top: 20px" *ngIf="superUser">
                            <div style="display: flex; flex-direction: row">
                                <div class="titulo-menu">Clientes</div>
                            </div>
                            <div class="grid-container">
                                <mat-checkbox class="modulo-checkbox" *ngFor="let cliente of clientes" (change)="selection.toggle(cliente)"
                                              [checked]="selection.isSelected(cliente)"
                                              id="{{cliente.id}}">{{cliente.tx_sigla}}</mat-checkbox>
                            </div>
                            <div *ngIf="formDir.submitted" class="validation-error" style="margin-top: 8px">
                                <p *ngIf="this.selection.selected.length == 0">Selecione um <strong>Módulo</strong></p>
                            </div>
                        </div>

                        <div class="btn-cadastro-footer">
                            <button mat-stroked-button color="primary" class="btn-cadastro-fill" style="margin-right: 10px" (click)="voltar()">
                                Cancelar<mat-icon>arrow_back</mat-icon>
                            </button>

                            <button mat-button class="btn-cadastro-full" style="margin-right: 10px" (click)="onSubmit()">
                                Salvar <mat-icon>save</mat-icon>
                            </button>

                            <button mat-button class="btn-cadastro-full" (click)="proximo()">
                                Próximo <mat-icon>arrow_forward</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
