<div>
    <div class="div-table">
        <div class="div-principal-filtro" *ngIf="habilitaFiltros">
            <div class="div-table-filtro">
                <mat-form-field appearance="standard" class="input-full-width">
                    <mat-label>Busque pelo nº do ID ou Nome da tarefa</mat-label>
                    <span matSuffix><mat-icon>search</mat-icon></span>
                    <input matInput (keyup)="applyFilter($event)" #input>
                </mat-form-field>
            </div>
            <div class="div-table-filtro-secundario">
                <div style="display: flex; flex-direction: column; align-items: flex-end;">
                    <div style="display: flex; flex-direction: row;">
                        <mat-form-field appearance="fill" class="input-full-width">
                            <!-- <mat-label>Series</mat-label> -->
                            <mat-select [(value)]="valueAutomacao" (selectionChange)="onAutomacaoChange($event)">
                                <mat-option *ngFor="let source of comboAutomacao" [value]="source.value">
                                    {{source.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-raised-button color="primary" (click)="novo()" class="btn-nova-tarefa" *ngIf="userData?.superuser">
                            <div style="display: flex; align-items: center;">
                                <span class="span-nome">Nova tarefa</span>
                                <mat-icon class="add-icon">add</mat-icon>
                            </div>
                        </button>
                    </div>
                    <div class="campo-check-status">
                        <mat-slide-toggle color="primary" (change)="onChangeToggle($event)" checked>{{tx_ativo}}</mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="caixa-atualizacao" *ngIf="visualizacao === true && habilitaFiltros === true"><p>Atualização automática em <b>{{timeLeft}}</b> segundos</p></div>-->

        <div style="width: 100%">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="check">
                    <th mat-header-cell *matHeaderCellDef style="min-width: 50px; width: 50px"><mat-checkbox class="modulo-checkbox" id="todas" (change)="onChangeEventTodos($event)">Todos ({{checkLote.length}})</mat-checkbox></th>
                    <td mat-cell *matCellDef="let element" style="text-align: center">
                        <div *ngIf="habilitaFiltros">
                            <mat-checkbox *ngIf="element.anexo_script_id" [checked]="element.checked == true" (change)="showOptions($event, element)"></mat-checkbox>&nbsp;
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="botao">
                    <th mat-header-cell *matHeaderCellDef style="min-width: 100px; width: 100px;"></th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="habilitaFiltros">
                            <button mat-button class="btn-start" *ngIf="element.anexo_script_id" (click)="startTarefa(element)">
                                <mat-icon>play_circle_outline</mat-icon> Iniciar</button>

                            <button mat-button class="btn-start-sem-script" *ngIf="!element.anexo_script_id">
                                <mat-icon>play_circle_outline</mat-icon> Iniciar</button>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="acao">
                    <th mat-header-cell *matHeaderCellDef style="min-width: 60px">Ação</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="habilitaFiltros">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="abreDetalhe(element)">
                                    <mat-icon>remove_red_eye</mat-icon>
                                    <span>Detalhamento</span>
                                </button>
                                <button mat-menu-item (click)="editar(element.id)" *ngIf="userData.constante_virtual != 'OPERADOR'">
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar</span>
                                </button>
                                <button mat-menu-item *ngIf="element.anexo_script_id" (click)="startTarefa(element)">
                                    <mat-icon>play_circle_outline</mat-icon>
                                    <span>Iniciar</span>
                                </button>
                                <button mat-menu-item (click)="excluirTarefa(element.id)" *ngIf="userData.constante_virtual != 'OPERADOR'">
                                    <mat-icon>delete</mat-icon>
                                    <span>Excluir</span>
                                </button>
                            </mat-menu>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.anexo_script_id"><a>{{element.id}}</a> </span>
                        <span *ngIf="!element.anexo_script_id" style="color: #ca8686"><a>{{element.id}}</a> </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="tarefa">
                    <th mat-header-cell *matHeaderCellDef> Tarefa </th>
                    <td mat-cell *matCellDef="let element" (click)="abreDetalhe(element)">
                        <span *ngIf="element.anexo_script_id" class="td-link"><a>{{element.tx_nome}}</a> </span>
                        <span *ngIf="!element.anexo_script_id" class="td-link-sem-script"><a>{{element.tx_nome}}</a> </span>
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="automacao">
                    <th mat-header-cell *matHeaderCellDef> Nome do executor </th>
                    <td mat-cell *matCellDef="let element"> {{element.automacao_id}}-{{element.automacao}} </td>
                </ng-container>

                <ng-container matColumnDef="tx_situacao">
                    <th mat-header-cell *matHeaderCellDef> Situação </th>
                    <td mat-cell *matCellDef="let element"> {{element.tx_situacao}} </td>
                </ng-container>

                <ng-container matColumnDef="dt_inclusao_lista">
                    <th mat-header-cell *matHeaderCellDef> Iniciada em </th>
                    <td mat-cell *matCellDef="let element"> {{element.iniciada_formatada}} </td>
                </ng-container>

                <ng-container matColumnDef="tempo">
                    <th mat-header-cell *matHeaderCellDef> Tempo de execução </th>
                    <td mat-cell *matCellDef="let element" class="td-tempo"> {{element.tempo}} </td>
                </ng-container>

                <ng-container matColumnDef="agendamento" *ngIf="bo_agendada">
                    <th mat-header-cell *matHeaderCellDef> Próxima execução </th>
                    <td mat-cell *matCellDef="let element" class="td-tempo"> {{element.agendamento}} </td>
                </ng-container>

                <ng-container matColumnDef="bo_status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element" class="td-status">
                        <span *ngIf="element.bo_status_formatado=='Ativo'" class="td-status-ativo">{{element.bo_status_formatado}}</span>
                        <span *ngIf="element.bo_status_formatado=='Inativo'" class="td-status-inativo">{{element.bo_status_formatado}}</span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="10" style="color: #ff0000; font-weight: bold; font-size: 12px !important; padding-left: 16px">{{msgSemRegistro}}</td>
                </tr>
            </table>
            <mat-paginator [length]="paginador.length"
                           [pageSize]="paginador.pageSize"
                           [pageSizeOptions]="paginador.pageSizeOptions"
                           showFirstLastButtons
                           aria-label="Selecionar página">
            </mat-paginator>
        </div>
        <div class="btn-cadastro-footer" style="justify-content: center !important;" *ngIf="checkLote.length > 0">
            <button mat-button style="background: #FF9800; color: #FFFFFF" (click)="startTarefaLote()">
                Start Tarefa Lote <mat-icon>play_circle_outline</mat-icon>
            </button>
        </div>
    </div>
</div>
