@import '../../../../styles';

.titulo-menu{
    color: #056691 !important;
    font-weight: bold !important;
    padding-bottom: 30px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

@media (max-width: 850px), (orientation: portrait) {
    .grid-container {
        display: grid !important;
        grid-template-columns: auto auto !important;
    }
}
