@import '../../../../styles';

.titulo-menu{
    color: #056691 !important;
    font-weight: bold !important;
    padding-bottom: 30px;
}

/*::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: unset !important;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix {
    padding: unset !important;
}*/
