/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@fontsource/work-sans';

//@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

html,
body {
    height: 100%;
    margin: 0;
    color: #394E58;
    letter-spacing: 1px !important;
}

.div-content{
    font-family: 'Work Sans', 'Roboto', "Helvetica Neue", 'sans-serif' !important;
    min-height: 99.5vh;

    .btn-stop {
        border: 1px solid #ff0000;
        border-radius: 15px;
        color: #ff0000;
        height: 35px;
    }

    .btn-start {
        border: 1px solid #49BC44;
        border-radius: 15px;
        color: #49BC44;
        height: 35px;
    }

    .btn-start-sem-script {
        border: 1px solid #cdcccc;
        border-radius: 15px;
        color: #cdcccc;
        height: 35px;
    }

    ::ng-deep.mat-tab-label .mat-tab-label-content {
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 2px;
        font-family: 'Work Sans', 'Roboto', "Helvetica Neue", 'sans-serif' !important;
    }

    ::ng-deep .mat-tab-label-active {
        background-color: #FDB827;
        border-radius: 10px 10px 0px 0px;
        color: #FFFFFF;
        font-family: 'Work Sans', 'Roboto', "Helvetica Neue", 'sans-serif' !important;
    }

    ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: #FDB827;
    }

    .mat-stepper-vertical, .mat-stepper-horizontal {
        font-family: 'Work Sans', 'Roboto', "Helvetica Neue", 'sans-serif' !important;
        color: #F2DCB0;
        font-size: 18px;
    }

    .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
        background-color: #49BC44;
    }

    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
        background-color: #FFFFFF;
    }
}

.input-full-width {
    width: 100%;
}

.input-medium-width {
    width: 30%;
}

.div-table{
    padding-left: 16px;
}

.mat-tab-label {
    opacity: unset !important;
    border-top: 1px solid #FDB827;
    border-left: 1px solid #FDB827;
    border-right: 1px solid #FDB827;
    border-radius: 10px 10px 0px 0px !important;

    border-color: rgba(0,0,0,.04);
}

.btn-nova-tarefa{
    margin-left:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 150px;
    background-color: #FDB827;
}

/*.mat-form-field {
    height: 50px !important;
}*/

.mat-drawer-container {
    //height: 100% !important;
    min-height: calc(100% - 100px) !important;
}


.card-principal{
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    font-size: 16px;
    color: #394E58;
    font-family: 'Work Sans', 'Roboto', "Helvetica Neue", 'sans-serif' !important;
    min-height: 92vh;
}

.cabecalho-titulo{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #056691;
    .titulo-menu{
        color: #056691 !important;
        font-weight: bold !important;
        padding-bottom: 10px;
    }
}

.titulo-menu{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.25px;
    color: #141A1D;
    font-family: 'Work Sans', 'Roboto', "Helvetica Neue", 'sans-serif' !important;
}

.btn-cadastro-full{
    background: #FDB827;
    width: 170px;
    height: 40px;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 20px;
}

.btn-cadastro-fill{
    width: 170px;
    height: 40px;
    font-weight: normal;
    font-size: 20px;
    color: #FDB827;
    border: 3px solid #FDB827;
}

.div-step-icon{
    background-color: #FDB827;
    color: #fff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    flex-shrink: 0;
    position: relative;
    margin-right: 12px;
    position: relative;

    .div-step-icon-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        color: #fff;
    }
}

.div-step-icon-default{
    background-color: #c1c1c1;
    color: #fff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    flex-shrink: 0;
    position: relative;
    margin-right: 12px;
    position: relative;

    .div-step-icon-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        color: #fff;
    }
}

.div-informacoes{
    display: flex;
    align-items: center;
    height: 35px;
    font-size: 20px;
    color: #F4D083;
    font-weight: bold;
    cursor: pointer;
}

.div-informacoes-default{
    display: flex;
    align-items: center;
    height: 35px;
    color: #969494;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.div-cabecalho-cadastro{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    overflow: auto;
    min-height: 95vh;
}

.campo-check-status{
    font-size: 16px !important;
    width: 30%;
    min-width: max-content;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.campo-check-email{
    font-size: 16px !important;
    width: 30%;
    min-width: max-content;
    padding-right: 10px;
}

.div-mat-stepper-vertical-line{
    width: 33px;
    //border-left-color: rgba(0,0,0,.12);
    height: 70px;
    display: flex;
    justify-content: center;
}

.div-divider-right{
    border-right: 1px solid #B4BABD;
    padding-right: 20px;
    padding-top: 30px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.filtros{
    padding-left: 25px;
    padding-top: 25px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.mat-drawer {
    width: 350px !important;
}

.mat-sidenav-content-alter{
    margin-left: 350px;
}

textarea.mat-input-element {
    height: 80px !important;
}

.validation-error{
    padding-bottom: 10px;
    margin-top: -20px;
    color: #f44336;
    font-size: 75%;
}

.form-content{
    width: 70%
}

::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #141A1D;
}

::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #141A1D;
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #141A1D;
}

.div-principal-filtro{
    display: flex;
    flex-direction: row;
    width: 100%
}

.div-table-filtro{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.div-table-filtro-secundario{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;;
}

.td-link{

    a{
        cursor: pointer;
        color: #056691;
        position: relative;
        text-decoration: none;
    }
    a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #056691;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

.td-link-sem-script{

    a{
        cursor: pointer;
        color: #ca8686;
        position: relative;
        text-decoration: none;
    }
    a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #ca8686;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

.titulo-cliente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -15px;

    .titulo-sigla{
        font-weight: bold;
        font-size: 25px;
        padding-bottom: 10px;
    }
    .titulo-descricao{
        font-weight: normal;
        font-size: 12px;
        margin-top: -10px;
    }
}

::ng-deep .td-status-ativo{
    color: #1FA8E4!important;
    font-weight: bold;
}

::ng-deep .td-status-inativo{
    color: #969595 !important;
    font-weight: bold;
}

::ng-deep .td-status-erro{
    color: #ff0000 !important;
    font-weight: bold;
}

.button-row {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FDB827!important;
        width: 200px;
        height: 44px;
    }
    .add-icon{
        /*padding-left: 15px;*/
        font-size: 20px;
    }
}

.lista-vinculos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-container-lista {
    //display: grid;
    //grid-template-columns: auto auto auto;
    display: flex;
    flex-wrap: wrap;
    width: 33%;
    min-width: max-content;
    padding: 5px;
    font-size: 16px;
    color: #394E58;
    font-family: "Work Sans", "Roboto", "Helvetica Neue", "sans-serif" !important;
}

.app-ace-editor {
    border: 2px solid #f8f9fa;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-cadastro-footer{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    button{
        height: 46px !important;

        mat-icon{
            font-size: 20px;
            //padding-left: 10px;
        }
    }
}

@media (max-width: 850px), (orientation: portrait) {
    .button-row {
        .span-nome{
            display: none;
        }
        button {
            height: 45px !important;
            width: 50px !important;
        }
        .add-icon{
            padding-left: unset;
        }
    }

    .div-divider-right{
        display: none;
    }

    .form-content{
        width: 100%
    }

    .div-cabecalho-cadastro{
        padding-left: unset !important;
        padding-right: unset !important;
    }

    .div-table-filtro .mat-form-field-wrapper {
        width: 280px !important;
        display: flex;
        flex-direction: column;
    }

    .div-table-filtro-secundario{
        width: 100%;
    }

    .div-principal-filtro{
        display: flex;
        flex-direction: column;
    }

    .mat-sidenav-content-alter{
        margin-left: unset;
    }

    .grid-container-lista {
        width: 100% !important;
        min-width: 100%;
    }

}

.json-dados{
    background: #eeeeee;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
